<div class="section" id="about">
  <h3 class="section-title">About me</h3>
  <p class="bio">
    <span>Hola!</span> Mi nombre es Pablo, and this is my website. It was made using{' '}
    <a href="https://github.com/withastro/astro" target="_blank" rel="nofollow"> Astro</a>, a new
    way to build static sites. This is just an example template for you to modify.
  </p>
  <p>
    <a href="/about">Read more</a>
  </p>
</div>
